body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: center;
  margin-top: 0px;
  }
  /*кнопки товаров по группам*/
.categories{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  .pr{
    padding: 8px;
    width: 90px;
    margin: 10px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    text-align:center;
  }
  .pr:hover{
    background: #F05D23;
    color: #fff;
    cursor: pointer;
    border: 2px solid #F05D23;
  }
  .all{
    background: white;
    border: 2px solid green;
  }
  .vegetables{
    background: #9ee8a5;
    border: 2px solid #9ee8a5;
  }
  .fruits{
    background: rgb(243, 243, 140);
    border: 2px solid rgb(243, 243, 140);;
  }
  .meat{
    background: rgb(241, 218, 218);
    border: 2px solid rgb(241, 218, 218);
  }
    .fish{
      background: rgb(108, 212, 224);
      border: 2px solid rgb(108, 212, 224);
    }
  .bread{
    background: #dcb179;
    border: 2px solid #dcb179;
  }
  .alcohol{
    background: #e4707f;
    border: 2px solid #e4707f
  }
  .secondHead{
    font-weight: 300;
  }
  .firstHead{
    font-weight: 250;
    margin-top: 130px;
  }
  .main-photo{
    width: 600px;
    height: auto;
  }
  
  h1{
    margin-top: 0px;
    
  }
  h2{
    font-weight: lighter;
    letter-spacing: 3px;

  }
  h3{
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color: #1B4B36;
  }

/* фотография */
#photo{
  width: 250px;
  height: 160px;
}
/* карточка товара */
.block{
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  border: 1px solid black;
}
.in-cart{
  display: flex;
 padding: 20px;
 justify-content: space-around;
 align-items: center;
}
/*размер иконки корзины*/
.cartIcon{
  width: 50px;
  }
/*фото в карточке товара*/
.goods{
display: flex;
justify-content: center;
flex-wrap: wrap;
max-width: 91vw;
}
/*корзина и количество*/
.cart-num{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*цифра около корзины*/
.total-prod-num{
  color: green;

}
/*рамка с товарами корзины*/
.cart-frame{
  border: 2px solid black;
  width: 300px;
  height: auto;
  margin-left: auto;
  
}
/*Всплывающее окно от корзины*/
#window{
  width: 30%;
  height: auto;
  text-align: center;
  padding: 1px;
  border-radius: 10px;
  color: black;
  position: absolute;
  top: 120px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #eff9e9;
}
/*Кнопки во всплывающем окне*/
.button-in-cart{
  display: flex;
  justify-content: center;
  
}
/*цвет фона средней части рамки*/
.cart-fon{
  background: #fff;
}
/*кнопка продолжить в окне корзины*/
#close {
  display: inline-block;
  border: 1px solid green;
  border-radius: 10px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14px;
  cursor:pointer;
 width: 150px;
}
#close:hover {background: green;}

/*маленькая черная корзина*/
.icon{
  width: 20px;
}
hr{
 
  height:1px; 
  background: green;
   margin-right: 35px;
margin-left: 35px;
}
/*фото внутри корзины*/
#cart-photo{
  width: 90px;
  height: 60px;
}
nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 116px;
  display: flex;
 align-items: center;
 justify-content: center;
 background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0.9893617021276596) 44%, rgba(205,235,180,1) 100%);
  flex-wrap: wrap;
  }
.link{
  text-decoration: none;
  color: black;
  font-weight: lighter;
  font-family: 'Inter', sans-serif;
  flex-wrap: wrap;
  cursor: pointer;
  margin-right: 100px;
  }
  .link:hover{
    color: #F05D23;
  }
.photo-text-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
 .photo-button-images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
  flex-wrap: nowrap;
  }

/*страница контакты*/
.page-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
    input{
      padding: 10px;
    margin: 5px;
    width: 300px;
  }
  
/*кнопка в контакты*/
.but-contact{
background-color: #CCEABB;
color: black;
border: none;
font-size: 15px;
border-radius: 5px;
font-family: 'Inter', sans-serif;
font-weight: lighter;
cursor: pointer;
margin: 20px;
align-self: center;
padding: 10px;
}
.but-contact:hover{
  color: white;
  background-color: green;
}
.head-contact{
  align-self: center;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  color: #4D4646;
}
.par-contact{
  align-self: center;
  font-size: 23px;
  font-family: 'Inter', sans-serif;
}
#name-contact{
  border: 1px solid black;
  padding: 5px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  
}
.more-less{
  border: none;
  color: green;
  background-color: white;
}
.par-foot{
  text-align: center;
  font-size: 15px;
}
.icons{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.button-add{
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #CCEABB;
  background-color: #CCEABB;
  padding: 5px;
  color: black;
}
.button-add:hover{
  background-color: #fff;
  cursor: pointer;
  border: 2px solid green;
}
.button-plus{
  margin: 10px;
  border: 1px solid green;
  background-color: #fff;
  font-size: 17px;
  color:black;
}
.quantity{
  color: red;
  font-weight: bolder;
  font-size: 20px;
}

.weight{
  font-weight: bolder;
  font-size: 25px;
}
.weight-two{
  color: #1B4B36;
  font-weight: bold;
  font-size: 25px;
}
.del{
  border: none;
  background-color: #fff;
  align-self: center;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .1s;
  
}
.modal.active{
opacity: 1;
pointer-events: all;
}
.modal-content{
padding: 20px;
border-radius: 12px;
background-color: white;
width: 50vw;

}
.scrollLine {
  overflow: hidden;
  overflow-x:hidden;
  overflow-y: scroll;
  max-height: 45vh;
  scrollbar-width: thin;
 
}
.up{
  display: flex;
  background-color: white;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
  color: green;
}
.categories-button{
  position: -webkit-sticky;
  position: sticky;
  top: 116px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  flex-wrap: wrap;
}
.button-about{
  display: flex;
  justify-content: center;
  
}
.btn-right,.btn-left{
  background-color: white;
  margin: 40px;
  border: 3px solid #CCEABB;
  border-radius: 10px;
  }
  .about-us-text{
    margin-top: 50px;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color: green;
    letter-spacing: 2px;
  }
  .about-us-word{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color: orange;
    letter-spacing: 2px;
  }
  
  .text-delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
 #all-delivery-box{
display: flex;
}
 .delivery-box{
  margin: 10px;
  padding: 10px;
  align-self: center;
  border: 2px solid green;
 }
 .delivery-box{
  background-color: #fff;
  width: 100px;
  height: 40px;
  font-size: 15px;
  color: #F05D23;
 }
 .delivery-box:hover{
  border: 2px solid green;
  cursor: pointer;
background-color: green;
color: #fff;
 }
 .btn-footer{
  margin-top: 10px;
  background-color: green;
  border: 1px solid green;
padding: 10px;
font-size: 20px;
color: #fff;
 }
 .btn-footer:hover{
  background-color: #F05D23;
  cursor: pointer;
  border: 1px solid #F05D23;
  
 }
 .body-footer{
  background-color: #979797;
  margin-top: 10px;
 }
 .but-contact-footer{
  background-color: #F05D23;
color: black;
border: none;
font-size: 15px;
border-radius: 5px;
font-family: 'Inter', sans-serif;
font-weight: lighter;
cursor: pointer;
margin: 20px;
align-self: center;
padding: 10px;
 }
 .but-contact-footer:hover{
  background-color: #fff;
 }

 
/*Меню бургер справа*/
/*Контейнер для бургера*/
.burger{
  position: absolute;
  right: 30px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
border: none;
background-color:  rgba(255, 255, 255, 0); 
z-index: 100;
display: none;
}
/*Расположение полосок бургера*/
.burger span, .burger span:before, .burger span:after{
  width: 100%;
  position: absolute;
  height: 5px;
  background: green;
  display: block;
  transition: .3s;
  border-radius: 5px;
}
/*Три полоски бургера*/
.burger span:before{
  content: "";
  top: -14px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span{
  top: 20px;
}
.burger span:after{
  content: "";
  bottom: -14px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.ok{
  color: #F05D23;
  font-weight: bold;
  font-size: 20px;
}.link-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.links{
  text-decoration: none;
  color: #4D4646;
  margin: 10px;
  cursor: pointer;
}
.links:hover{
  color: #F05D23;
}
#nav-two{
  width: 50%;
  height: auto;
  text-align: center;
  padding: 15px;
  border: 3px solid green;
  border-radius: 10px;
  color: black;
  position: absolute;
  top: 1px;
  right: 0px;
 margin: auto;
  background: #fff;
  display: none;
}
.comp-burger-menu{
  right: auto;
}
.PageTwo{
  margin-top: 130px;
}
/*Начать покупки*/
.btnPageTwo{
  background: green;
  border: 2px solid green;
  color : #fff;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;

}
.btnPageTwo:hover{
  background: #FD841F;
  border: 2px solid #FD841F;
}
/*Наши продукты*/
.headPageTwo{
  margin-top: 120px;
  font-size: 30px;
  font-weight: lighter;
}
.add-button-delivery{
  padding: 8px;
  border: 2px solid green;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: black;
}
.add-button-delivery:hover{
  color: #fff;
  background-color: green;
  border: 2px solid green;
}
.button-two-page{
  border: 1px solid green;
  border-radius: 10px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14px;
  cursor:pointer;
 width: 150px;
}
.button-two-page:hover{
  color: #fff;
  background-color: orange;
  border: 1px solid orange;
}
.name-foot{
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  margin: 5px;
  font-size: 10px;
}
.foot{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width : 1280px) {
.main-photo{
  width: 520px;
  height: auto;
}
.scrollLine{
  height: 150px;
}
#window{
  width: 80%;
}
}
@media all and (max-width : 1024px) {
.main-photo{
  width: 350px;
  height: auto;
}
#first-nav{
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  }
  .scrollLine{
    height: 110px;
  }
  .firstHead{
    margin-top: 20px;
  }
  
}
@media all and (max-width : 820px) {
  #first-nav{
    max-height: 100%;
    }
    .pr{
      width: 80px;
      padding: 6px;
      margin: 10px;
    }
}
@media all and (max-width : 768px) {
  #first-nav{
    max-height: 100%;
    }
    .pr{
      width: 78px;
      padding: 6px;
      margin: 7px;
    }
}
@media all and (max-width : 540px) {
  #first-nav{
    max-height: 100%;
    display: flex;
    justify-content: center;

    }
    .link{
      margin: 15px;
    }
    .pr{
      width: 80px;
      padding: 6px;
      margin: 7px;
    }
    .main-photo{
      width: 500px;
      height: auto;
    }
    .scrollLine{
      height: 150px;
    }
    .firstHead{
      margin-top: 50px;
    }
    
}
@media all and (max-width : 500px) {
  .burger,.photo-link,.links{
    display: block;
    display: flex;
    flex-direction: column;
  }
  #first-nav{
    max-height: 100%;
    }
    .firstHead{
      margin-top: 10px;
    }
  .link{
    display: none;
  }
  .up{
    font-size: 11px;
  }
  .up-white{
    font-size: 15px;
  }
  .cartIcon{
    margin-bottom: 50px;
  }
  #window.modal-content{
    margin-top: 5px;
  }
.p-cart{
  margin-bottom: 60px;
  margin-left: 10px;
  font-size: 25px;
}
.ok{
  font-size: 20px;
  font-weight: bolder;
  color: #F05D23;
}
input{
  width: 81%;
  }
.main-photo{
  width: 361px;
  height: auto;
  }
  iframe{
    width: 361px;
  }
  #name-contact{
    width: 311px;
  }
.block{
  align-items: center;
  width: 170px;
  margin: 5px;
}
#photo{
  width: 125px;
  height: 70px;
}
.categories{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
  .pr{
padding: 10px;
width: 300px;

  }
  .photo-about{
    width: 361px;
  }
  .scrollLine{
    height: 150px;
  }
}
@media all and (max-width : 414px) {
  .firstHead{
    margin-top: 20px;
  }
  .btnPageTwo{
    margin-top: 70px;
  }
  .about-us-text{
    font-size: 25px;
  }
  .about-us-word{
    font-size: 22px;
  }
  #first-nav{
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    }
}
@media all and (max-width : 393px) {
  .about-us-word{
    font-size: 20px;
  }
}
@media all and (max-width : 390px) {
  .about-us-text{
    font-size: 23px;
    margin-bottom: 5px;
  }
  .about-us-word{
    font-size: 19px;
  }
}
@media all and (max-width : 375px) {
  #first-nav{
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    }
  .main-photo{
    width: 260px;
  }
  .firstHead{
    margin-top: 10px;
  }
  .up-white{
    font-size: 9px;}
    #nav-two{
      margin-right: 13px;
    }
    .scrollLine{
      height: 100px;
    }
    h3{
      margin-top: 0px;
    }
    .add-button-delivery{
      padding: 10px;
      
    }
   #close{
      margin-right: 0px;
      font-size: 10px;
      padding: 2px;
     width: 80px;
    }
    .add-button-delivery{
      
      width: 100px;
    }
    .button-two-page{
      width: 80px;
      font-size: 12px;
    }
    #close.modal-content{
      width: 80px;
      font-size: 12px;
    }
.pr{
  width: 200px;
}
    form{
      width: 260px;
    }
    .par-contact{
      font-size: 20px;
    }
    #name-contact{
      width: 240px;
    }
    .photo-about{
      width: 240px;
    }
    .about-us-text{
      font-size: 23px;
      margin-bottom: 5px;
    }
    .about-us-word{
      font-size: 19px;
    }
    iframe{
      width: 260px;
    }
    .par-foot{
      font-size: 11px;
    }
  
}
@media all and (max-width : 280px) {
  h3{
    margin-top: 5px;
  }
  .weight{
    font-size: 20px;
  }
  #cart-photo{
    width: 60px;
    height: auto;
  }
}